
body{
  overflow: hidden;
  background-color: white;
  cursor: default;
  overflow-x: hidden;
  overflow-y: scroll;
  color: #333333;

  transition: all 0.2s;
}

html {
  scroll-behavior: smooth;
}

.header{
    letter-spacing: 0px;
    width: 40%;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    top: 5%;
    left: 10%;
    animation-name: fadeIn;
    animation-duration: 3s;
    
} 
.header h1{
    
    font-family: 'Fira Code', sans-serif !important;
    font-weight: 300;
    font-size: 4.5vw;
    animation-name: fadeIn;
    animation-duration: 4s;
}



.header p{
    font-family: monospace;
    /*font-family: 'Open Sans', sans-serif !important;
    font-family: 'JetBrains Mono', monospace;*/
    font-size: 1.2vw;
    font-weight: 300;
    text-align: left;
    word-wrap: 100%;

}


#mainImage{
  
  position: absolute;
  top: 10%;
  left: 60%;

  animation-name: fadeIn;
  animation-duration: 4s;

  width: 30%;
  height: auto;
}

.photos{
  position: absolute;
  top: 85%;
  width: 100%;
  left: 0%;
  display: flex;
  justify-content:space-between;
  padding-bottom: 5%;
}

.photos img{
  width: 20%;
  height: auto;
  margin: 0 auto;
}

button {
  position: abolsute;
  font-family: "Fira Code";
  color: #1C1C1C;
  background-color: white;
  border: 3px solid #1C1C1C;
  color: #1C1C1C;
  background-color: white;
  border: 2px solid #1C1C1C;
  transition: all 0.4s ease 0s;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
}

button:hover {
  border-color: #f6b93b !important;
  transition: all 0.1s ease 0s;
}

img{
 border: 2px solid #333333; 
}

.footer {
  position: fixed;
  padding: 0px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1f222b;
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9vw;
}

a{
  color: white;
}
a:visited{
  color: white;
}

a:link {
  text-decoration: none;
}

/*ANIMATIONS*/

/*@-webkit-keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0,0);
    }
  }*/
  
 @keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);

    }
  }
  
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }


  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
