
body{
  overflow: hidden;
  /*font-family: 'Open Sans', sans-serif;*/
  background-color: white;
  cursor: default;
  overflow-x: hidden;
  overflow-y: scroll;
  color: #333333;

  transition: all 0.2s;
}

html {
  scroll-behavior: smooth;
}

.header{
    letter-spacing: 0px;
    width: 40%;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    top: 5%;
    left: 10%;
    animation-name: fadeIn;
    animation-duration: 3s;
    
} 
.header h1{
    font-family: 'Georgia', sans-serif !important;
    font-weight: 300;
    font-size: 4.5vw;
}

.header p{
    font-family: 'Open Sans', sans-serif !important;
    font-size: 1.2vw;
    font-weight: 300;
    text-align: left;
    word-wrap: 100%;

}


.mainImage img{
  
  position: absolute;
  top: 10%;
  left: 60%;

  animation-name: fadeIn;
  animation-duration: 4s;

  width: 30%;
  height: auto;

}

.photos{
  position: absolute;
  top: 90%;
  width: 100%;
  left: 0%;
  display: flex;
  justify-content:space-between;
  padding-bottom: 3%;
}

.photos img{
  width: 20%;
  height: auto;
  margin: 0 auto;
}

button {
position: abolsute;
color: #1C1C1C !important;
background: '#FFFFFF' !important;
border: 3px solid #1C1C1C !important;
transition: all 0.4s ease 0s;
font-family: 'Open Sans';
padding: 10px !important; 
}

button:hover {
border-color: #f6b93b !important;
transition: all 0.1s ease 0s;
}

img{
 border: 2px solid #333333; 
}
/*ANIMATIONS*/

/*@-webkit-keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0,0);
    }
  }*/
  
 @keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);

    }
  }
  
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }


  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
